@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    qform, replace default form validation error in mvc3 demo with <a href="https://github.com/Craga89/qTip2">qtip2</a>, to see it, click "@Html.ActionLink("Log On", "LogOn", "Account")" at top right, then click "Log On" button.
</p>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
